<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<h2>Looking to: Buy Item</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount Min</th>
      <th>Amount Max</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Item</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.not_hosting_not_selling.each do |listing| %>
      <tr>
        <td><%= listing.user_id %></td>
        <td><%= listing.amount_minimum %></td>
        <td><%= listing.amount_maximum %></td>
        <td><%= listing.start_time %></td>
        <td><%= listing.end_time %></td>
        <td><%= listing.item.name %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Looking to: Sell Item</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount Min</th>
      <th>Amount Max</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Item</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.not_hosting_selling.each do |listing| %>
      <tr>
        <td><%= listing.user_id %></td>
        <td><%= listing.amount_minimum %></td>
        <td><%= listing.amount_maximum %></td>
        <td><%= listing.start_time %></td>
        <td><%= listing.end_time %></td>
        <td><%= listing.item.name %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Hosting Island: Buy Item</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>Max Users</th>
      <th>Allowed Users</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Item</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.hosting_not_selling.each do |listing| %>
      <tr>
        <td><%= listing.user_id %></td>
        <td><%= listing.amount %></td>
        <td><%= "#{listing.queue_list&.users&.size} / #{listing.queue_list&.max_users}" %></td>
        <td><%= listing.queue_list&.allowed_users %></td>
        <td><%= listing.start_time %></td>
        <td><%= listing.end_time %></td>
        <td><%= listing.item.name %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Hosting Island: Sell Item</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th>Max Users</th>
      <th>Allowed Users</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Item</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.hosting_selling.each do |listing| %>
      <tr>
        <td><%= listing.user_id %></td>
        <td><%= listing.amount %></td>
        <td><%= "#{listing.queue_list&.users&.size} / #{listing.queue_list&.max_users}" %></td>
        <td><%= listing.queue_list&.allowed_users %></td>
        <td><%= listing.start_time %></td>
        <td><%= listing.end_time %></td>
        <td><%= listing.item.name %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
