<%= form_with(model: host_listing, local: true) do |form| %>
  <% if host_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(host_listing.errors.count, "error") %> prohibited this host_listing from being saved:</h2>

      <ul>
        <% host_listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :dodo_code %>
    <%= form.text_field :dodo_code %>
  </div>

  <div class="field">
    <%= form.label :selling %>
    <%= form.check_box :selling %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :max_users %>
    <%= form.number_field :max_users %>
  </div>

  <div class="field">
    <%= form.label :allowed_users %>
    <%= form.number_field :allowed_users %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
