<p id="notice"><%= notice %></p>

<h1>Host Listings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Selling</th>
      <th>Amount</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Max users</th>
      <th>Allowed users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @host_listings.each do |host_listing| %>
      <tr>
        <td><%= host_listing.user_id %></td>
        <td><%= host_listing.item_id %></td>
        <td><%= host_listing.selling %></td>
        <td><%= host_listing.amount %></td>
        <td><%= host_listing.start_date %></td>
        <td><%= host_listing.end_date %></td>
        <td><%= "#{host_listing.total_join_listings_in_queue.count} / #{host_listing.max_users}" %></td>
        <td><%= "#{host_listing.currently_on_island.size} / #{host_listing.allowed_users}" %></td>
        <td><%= link_to 'Show', host_listing %></td>
        <td><%= link_to 'Edit', edit_host_listing_path(host_listing) %></td>
        <td><%= link_to 'Destroy', host_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host Listing', new_host_listing_path %>
