<p id="notice"><%= notice %></p>

<p>
  <strong>Island name:</strong>
  <%= @user.island_name %>
</p>

<p>
  <strong>Character name:</strong>
  <%= @user.character_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
