<%= form_with(model: queue_list_to_user, local: true) do |form| %>
  <% if queue_list_to_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(queue_list_to_user.errors.count, "error") %> prohibited this queue_list_to_user from being saved:</h2>

      <ul>
        <% queue_list_to_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :queue_id %>
    <%= form.text_field :queue_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
