<p id="notice"><%= notice %></p>

<h1>Queue List To Users</h1>

<table>
  <thead>
    <tr>
      <th>Queue</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queue_list_to_users.each do |queue_list_to_user| %>
      <tr>
        <td><%= queue_list_to_user.queue_id %></td>
        <td><%= queue_list_to_user.user_id %></td>
        <td><%= link_to 'Show', queue_list_to_user %></td>
        <td><%= link_to 'Edit', edit_queue_list_to_user_path(queue_list_to_user) %></td>
        <td><%= link_to 'Destroy', queue_list_to_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Queue List To User', new_queue_list_to_user_path %>
