<%= form_with(model: queue_list, local: true) do |form| %>
  <% if queue_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(queue_list.errors.count, "error") %> prohibited this queue_list from being saved:</h2>

      <ul>
        <% queue_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :max_users %>
    <%= form.number_field :max_users %>
  </div>

  <div class="field">
    <%= form.label :allowed_users %>
    <%= form.number_field :allowed_users %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
