<p id="notice"><%= notice %></p>

<h1>Queue Lists</h1>

<table>
  <thead>
    <tr>
      <th>Max users</th>
      <th>Allowed users</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queue_lists.each do |queue_list| %>
      <tr>
        <td><%= queue_list.max_users %></td>
        <td><%= queue_list.allowed_users %></td>
        <td><%= queue_list.start_time %></td>
        <td><%= queue_list.end_time %></td>
        <td><%= link_to 'Show', queue_list %></td>
        <td><%= link_to 'Edit', edit_queue_list_path(queue_list) %></td>
        <td><%= link_to 'Destroy', queue_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Queue List', new_queue_list_path %>
